!!!
!!! XML
%html
  %head
    %title= "Ramaze : #@current"
    = css_for *%w[reset uv master ruby]
    = js_for 'jquery'

  %body
    #wrapper
      #header_container
        #logo
          %a{:href => '/'}
            %img{:src => '/images/base/ra3.png', :alt => 'Ramaze, Web Framework for Rubyists'}
        #menu
          #language
            :maruku
              * &nbsp;

          #nav
            %ul
              - @menu.each do |item|
                %li
                  %a{ :href => item[ :href ], :class => item[ :class ] }= item[ :text ]

      %div#content{:class => @current}~ @content
      #footer
        Powered by ramaze :-)
        // Full source code is available at here.
        %br/
        &copy; 2006-2009 Michael Fellinger, some rights reserved
