:maruku
  # Community

  ## User Contributions ##

  * [Wiki](http://wiki.ramaze.net)
  * [Sites powered by Ramaze](http://wiki.ramaze.net/SitesPoweredByRamaze)
  * [Ramaze in the blogosphere](http://blogsearch.google.com/blogsearch?q=ramaze)


  ## Getting Help ##
  We pride ourselves on having a helpful, friendly community.  :)

  * IRC: [irc.freenode.net:6667](irc://irc.freenode.net:6667) #ramaze - Chat in browser: [JS](http://www.mibbit.com/?server=irc.freenode.net&channel=%23ramaze), [Java](http://java.freenode.net/?channel=ramaze)
  * Mailing List / Forum: [Ramaze Google Group](http://groups.google.com/group/ramaze)


  ## Getting Involved ##

  Code patches are always welcome.

  Ramaze uses the [Git](http://git-scm.com/) version control system.  For more
  information about Git, its features and installation instructions, check out
  [the Git user manual](http://www.kernel.org/pub/software/scm/git/docs/user-manual.html)
  or one of the following:

  * [The Git Tutorial](http://www.kernel.org/pub/software/scm/git/docs/gittutorial.html)
  * [The Sourcemage Git Guide](http://www.sourcemage.org/Git_Guide)
  * [Git Magic](http://www-cs-students.stanford.edu/~blynn/gitmagic/)
  * [GitCasts](http://www.gitcasts.com/)
  * [Everyday Git](http://www.kernel.org/pub/software/scm/git/docs/everyday.html)
  * [The Thing about Git](http://tomayko.com/writings/the-thing-about-git)

  The Git repository for Ramaze is at [http://github.com/manveru/ramaze/](http://github.com/manveru/ramaze/).

  To get the latest and greatest, just clone the remote repository:

      $ git clone git://github.com/manveru/ramaze.git

  More detailed instructions for prospective patchers are [here](http://wiki.ramaze.net/Contributing).



