:maruku
  # Community

  ## Getting Help ##
  We pride ourselves on having a helpful, friendly community.  :)

  IRC
  : [irc.freenode.net:6667](irc://irc.freenode.net:6667) #ramaze - Chat in browser: [JS](http://www.mibbit.com/?server=irc.freenode.net&channel=%23ramaze), [Java](http://java.freenode.net/?channel=ramaze)

  Google Group / Mailing List
  : [Ramaze Google Group](http://groups.google.com/group/ramaze)


  ## Getting Involved ##
  Sending patches are always welcome.

  Ramaze uses the Git version control system. For more information about Git, its features and installation instructions, check out the Git User Manual or one of the following:

  The Git repository for Ramaze is at [http://github.com/manveru/ramaze/](http://github.com/manveru/ramaze/)

  To get the latest and greatest, just clone the remote repository:

      $ git clone git://github.com/manveru/ramaze.git
      $ git format-patch origin/HEAD

  More detailed guide for commiters are [here](/#).

  ## Site powered by Ramaze ##
  See it, feel it, be one of them.

  Escaloop
  : ...

  Probull
  : ...

  purepistos.net
  : ...

  Rumors Facebook Application
  : ...

  Weewar Players Association
  : ...

  Weewar Rankings
  : ...

  wonko.com
  : ...

  Tamanegi
  : rss/atom feeds aggregator

  STCA
  : a tactical space combat game

  LinisTrac
  : a highly spam-resistant issue tracker

  Freezy
  : get stuff, give stuff – for free!


  Linis Trac
  : Trac without hussle

  This site
  : test

  ## People ##

  You can get to know us more at [Sociar](http://sociar.net), ramaze driven social network.

  Michael Fellinger aka Manveru
  : Father of Ramaze. Soon he will be real father.

  Pistos
  : Hard coder

  Aman Gupita
  : test

  ## Resources ##
  List Archives
  : [List Archives (old)](http://rubyforge.org/mailman/listinfo/ramaze-general)

  Ruby Forge Project page
  : [Ruby Forge project page](/#)

  Ramaze on Wikipedia
  : [link](/#)
