%a{:href => '/features'}
  #billboard
    #bblist
      %div
        .main Any Ruby
        .subtitle MRI, 1.9, JRuby, Rubinius
      %div
        .main Any ORM
        .subtitle Sequel, DataMapper, ActiveRecord, M4DBI
      %div
        .main Any Template Engine
        .subtitle Amrita2, Erubis, Tenjin, Haml, Sass, Liquid, Markaby, Remarkably, Ezamar, Nagoro, XSLT
    #image
      %img{:src => '/images/base/355x133_logo-large-temp.png'}
      %h1 The Modular Web Framework

#promo
  %dl
    %dt Getting Started
    %dd
      Step up with 5, 10, 15 minutes tutorials
      %a{:href => '/learn/getting-started'}
        %img{:src => '/images/promo/screencast.png'}
  %dl
    %dt Featured app
    %dd
      See ramaze in action, real world applications
      %img{:src => '/images/promo/sociar.png'}
  %dl
    %dt Github
    %dd
      Feel the edge, live at the edge
      %img{:src => '/images/promo/github.png'}
  %dl
    %dt Chat
    %dd
      Getting help on time. Theres human behind ramaze.
      %img{:src => '/images/promo/chat.png'}

#headline
  #news
    %h2 News
    %ul
      %li The Ramaze source repository has been moved to GitHub on May 8 2008
      %li Ramaze now runs on Rubinius on May 3 2008
      %li Luc Castera gave a presentation on Ramaze at Charlottesville beCamp on May 2 2008
      %li Ryan Grove agreed, Ramaze is beautiful on April 29 2008
      %li Avdi Grimm featured Ramaze in On Beauty in Code on April 28 2008
  #patches
    %h2 Recent Patches
    %ul
      %li Add Helper::Ultraviolet
      %li Add gem task and set default task to spec
      %li Gestalt builds an Array and joins at the end
      %li Fix file list in gemspec
      %li Add Tool::MIME::ext_for(mime)
  #ml
    %h2 Recent Google Group Posts
    %ul
      %li Re: Using Ramaze to quickly rebuild mysql website?
      %li Using Ramaze to quickly rebuild mysql website?
      %li Re: Upload files on WinXP
      %li Re: printing strings
      %li Re: printing strings
