%a{:href => '/features'}
  #billboard
    #bblist
      %div
        .main Any Ruby
        .subtitle MRI, 1.9, JRuby, Rubinius
      %div
        .main Any Adapter
        .subtitle Mongrel, Evented Mongrel, Swiftiplied Mongrel, LiteSpeed, Thin, Ebb, WEBrick, CGI, FCGI, SCGI
      %div
        .main Any ORM
        .subtitle Sequel, DataMapper, ActiveRecord, M4DBI
      %div
        .main Any Template Engine
        .subtitle Amrita2, Erubis, Tenjin, Haml, Sass, Liquid, Markaby, Remarkably, Ezamar, Nagoro, XSLT
    #image
      %img{:src => '/images/base/355x133_logo-large-temp.png'}
      %h1 The Modular Web Framework

#promo
  %a{:href => '/learn/getting-started'}
    %dl
      %dt Get Started
      %dd
        Step up with 5-, 10-, 15-minute tutorials
        %img{:src => '/images/promo/screencast.png'}
  %dl
    %dt Featured App
    %dd
      See Ramaze in action in real world applications
      %img{:src => '/images/promo/sociar.png'}
  %a{ :href => 'http://github.com/manveru/ramaze' }
    %dl
      %dt Source Code
      %dd
        Develop with the absolute latest, or hack on Ramaze
        %img{:src => '/images/promo/github.png'}
  %a{ :href => 'http://www.mibbit.com/?server=irc.freenode.net&channel=%23ramaze' }
    %dl
      %dt Chat
      %dd
        There are people behind Ramaze
        %img{:src => '/images/promo/chat.png'}

#headline
  #news
    %h2 News
    %ul
      %li The Ramaze source repository has been moved to GitHub on May 8 2008
      %li Ramaze now runs on Rubinius on May 3 2008
      %li Luc Castera gave a presentation on Ramaze at Charlottesville beCamp on May 2 2008
      %li Ryan Grove agreed, Ramaze is beautiful on April 29 2008
      %li Avdi Grimm featured Ramaze in On Beauty in Code on April 28 2008
  #patches
    = show_feed('Recent Development', 'http://github.com/feeds/manveru/commits/ramaze/master')
  #ml
    = show_feed('Recent Discussion', 'http://groups.google.com/group/ramaze/feed/rss_v2_0_msgs.xml')
