:maruku
  # Learning
  ## Getting Started ##
  If you haven't installed ramaze yet, follow the [installation guide](/download) then move on to the
  [Getting Started Guide](/learn/getting-started).  We've got tutorials as short as 5 minutes, so
  you can dive right in to ramaze!

  Folks who want to see the code without installing, jump to [github](http://github.com/manveru/ramaze).

  ## More Examples ##
  You want more examples, so we made them for you. Currently there are 45 examples.

  [View the complete list of examples](http://source.ramaze.net/#/examples)


  ## Wiki ##
  More documentation, including a deployment howto,  can be found on our [wiki](http://wiki.ramaze.net)

  ## Rdoc Documentation ##
  Online documentation is [here](http://ramaze.rubyforge.org/rdoc/files/doc/README.html).


  ## What's next? ##
  * [Ask questions](/community) at irc, google groups
  * [Check out](/community) more complete applications, freely available on github
  * Grow the [Wiki](http://wiki.ramaze.net)

