:maruku

  # Learning

  ## Getting Started ##

  If you haven't installed Ramaze yet, follow the [installation guide](/download) then move on to the
  [Getting Started Guide](/learn/getting-started).

  Folks who want to see the code without installing can browse on [github](http://github.com/manveru/ramaze).


  ## More Info ##

  * [Examples](http://github.com/manveru/ramaze/tree/master/examples)
  * [Wiki](http://wiki.ramaze.net)
  * [RDocs](http://ramaze.rubyforge.org/rdoc/files/doc/README.html) (source code documentation)
  * Ask [the community](/community) questions
