:maruku

  # Learn

  If you haven't installed Ramaze yet, follow the [installation guide](/download) then move on to the
  [Getting Started Guide](/learn/getting-started).

  Folks who want to see the code without installing can browse on [github](http://github.com/manveru/ramaze).

  Luc Castera (dambalah) presented his Ramaze talk at RubyConf 2008.
  Watch [the video](http://rubyconf2008.confreaks.com/ramaze-the-underrated-web-framework.html)!

  ## Resources

  * [The Ramaze Book](http://book.ramaze.net) (free and online)
  * [Screencasts](http://wiki.ramaze.net/Screencasts)
  * [Examples](http://github.com/manveru/ramaze/tree/master/examples)
  <!-- * Tutorials -->
  * manveru's [todolist tutorial](http://ramaze.net/todolist.html)
  * Pistos' [Ramaze by Example](http://blog.purepistos.net/index.php/2008/11/18/ramaze-by-example/)
  * [Wiki](http://wiki.ramaze.net)
  * [RDocs](http://ramaze.rubyforge.org/rdoc/files/doc/README.html) (source code documentation)
  * Ask [the community](/community) questions
